/*--------------GENERAL STYLE--------------*/
*,
*::before,
*::after{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    padding-top: 100px;
    font-family: sans-serif;
}

input[type=checkbox]{
    display: none;
}

.blue-btn{
    border: none;
    background-color: #0084fd;
    color: white;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    text-align: center;
    padding: 0.7rem 3rem;
    border-radius: 2rem;
}

.card{
    padding: 2rem;
    text-align: center;
    border-radius: 3rem;
}

h2{
    font-size: 2rem;
}

/*--------------LAYOUT STYLE--------------*/
.flex{
    display: flex;
}

.flex.between{
    justify-content: space-between;
}

.flex.wrap{
    flex-wrap: wrap;
}

.flex.center{
    justify-content: center;
}

.container{
    width: 100%;
    margin: 0 auto;
}

/*--------------SITE SECTION--------------*/

/*HEADER*/
.nav{
    position: fixed;
    width: 100%;
    background-color: #0084fd;
    padding: 1.5rem 2.5rem;
    align-items: center;
    z-index: 10;
    top: 0;
}

.nav .nav-links{
    list-style: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 30%;
    background-color: #b5ddff;
    text-align: right;
    display: none;
}

.nav-item{
    display: inline-block;
    width: 100%;
    color: #fff;
    text-decoration: none;
    padding: 0.7rem 1rem;
    font-size: 1.2rem;
}

.nav-item[href="#get-started"]{
    color: black;
    background-color: white;
    border-bottom: 1px #b5ddff solid;
    border-left: 1px #b5ddff solid;
}

.fa-bars{
    color: #fff;
}

.nav #burger-menu:checked ~ .nav-links{
    display: flex;
    flex-direction: column;
}

.jumbo-grid{
    padding: 3rem 2rem;
    gap: 2rem;
}

.jumbo-grid .feature{
    width: 100%;
    background-color: #b5ddff;
    border-radius: 1.5rem;
    padding: 2.5rem;
    text-align: center;
}

.jumbo-grid .feature-title{
    color: #0084fd;
    padding: 2.5rem 0;
}

.feature-description{
    color: #5a6e7f;
    font-weight: bold;
    line-height: 1.7rem;
}

.jumbo-grid .feature.demo{
    padding: 0 3rem 0;
    text-align: left;
}

.demo img{
    width: 100%;
    max-width: 300px;
    display: block;
}

.feature > i{
    color: #0084fd;
    font-size: 5rem;
}

.jumbo-grid .blue-btn{
    margin: 2rem 0;
}

/*STRATEGIC PLANNING SECTION*/
.strategic-planning{
    background-color: #9792e4;
    padding: 3rem 2rem;
    color: #fff;
}

.strategic-planning .wrapper{
    flex-direction: column;
}

.wrapper img{
    align-self: center;
}

.strategic-planning .planning-title{
    padding-top: 6rem;
    padding-bottom: 3rem;
}

.strategic-planning .planning-description{
    line-height: 1.8rem;
    padding-bottom: 2rem;

}

.strategic-planning img{
    width: 100%;
    max-width: 600px;
}

.strategic-planning .card{
    background-color: #fff;
    color: black;
}

.strategic-planning .card-title{
    padding: 2rem 0;
    font-size: 1.6rem;
}

.strategic-planning .card-description{
    line-height: 1.8rem;
    font-style: italic;
    padding-bottom: 2rem;
}

.strategic-planning .arrow-down{
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #9792e4;
    font-size: 1.5rem;
}

/*TESTIMONIALS SECTION*/
.testimonials{
    padding: 4rem 2rem;
    text-align: center;
}

.testimonials .section-name{
    font-weight: 400;
    text-transform: uppercase;
}

.testimonials .testimonials-title{
    padding: 2.5rem 0;
    color: #9792e4;
}

.testimonials .testimonials-subtitle{
    line-height: 2rem;
    font-size: 1.1rem;
}

.testimonials .card{
    color: white;
    background-color: #9792e4;
    margin-top: 2rem;
}

.testimonials .card .quote{
    line-height: 2rem;
    font-size: 1.1rem;
    padding-top: 0.5rem;

}

.testimonials .card .witness-name{
    font-size: 1.3rem;
    text-transform: uppercase;
    padding-top: 2rem;
}

.testimonials .card img{
    width: 150px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
}

/*FEATURES SECTION*/
.features{
    background-color: #9792e4;
    padding: 3rem 2rem;
}

.features .features-title{
    color: #fff;
    text-align: center;
    padding-bottom: 3rem;
    width: 100%;
}

.features .container{
    gap: 2rem;
}

.features .feature{
    background-color: white;
    border-radius: 2rem;
    width: 100%;
    padding: 3rem 2rem;
}

.feature .order-number{
    font-size: 3.5rem;
    color: #9792e4;
}

.feature .feature-name{
    font-size: 1.5rem;
    color: #9792e4;
    padding: 2rem 0;
}

.feature .feature-description{
    font-weight: 400;
}

.feature .blue-btn{
    background-color: #9792e4;
    font-size: 1rem;
    margin-top: 2rem;
    font-weight: bold;
}


/*--------------MEDIA QUERIES--------------*/

@media screen and (min-width: 830px) {
    .jumbo-grid .feature{   
        width: calc(100% / 3 - 2rem);
        flex-grow: 1;
    }

    .jumbo-grid .feature.demo{
        width: calc((100% / 3) * 2);
    }

    .features .feature{
        width: calc(50% - 2rem);
    }
}

@media screen and (min-width: 1200px) {
    .container{
        width: 1100px;
    }

    .nav{
        padding: 1.5rem 0;
    }

    .nav .fa-bars{
        display: none;
    }

    .nav .nav-links{
        list-style: none;
        color: #fff;
        display: flex;
        align-items: center;
        position: relative;
        width: auto;
        background-color: transparent;
        column-gap: 3rem;
    }

    .nav-item{
        display: inline-block;
        color: #fff;
        text-decoration: none;
        padding: 0;
        font-size: 1.2rem;
    }

    .nav-item[href="#get-started"]{
        color: black;
        background-color: white;
        border-bottom: none;
        border-left: none;
        border-radius: 1rem;
        padding: 0.5rem 1rem;
    }

    .jumbo-grid{
        padding: 3rem 0;
    }

    .strategic-planning .wrapper{
        width: 50%;
    }

    .strategic-planning .card{
        width: 50%;
        max-width: 400px;
        align-self: flex-end;
        margin-left: 4rem;
    }

    .features .feature{
        width: calc((100% / 3) - 2rem);
    }
}